{% load static %}
<!DOCTYPE html>
<html lang="pt-br">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  

  <!-- Web page CSS -->
  <link rel="stylesheet" href="{% static 'css/cadastrocss.css' %}" />

  <!-- Simple lightbox CSS -->
  <link rel="stylesheet" href="{% static 'css/simple-lightbox.min.css' %}" />

  <!-- Favicons -->
  <link rel="sol" sizes="180x180" img="{% static 'img/icon trabalho joao.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" img="{% static 'img/icon trabalho joao.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" img="{% static 'img/icon trabalho joao.png' %}" />
  <title>Estrela do Mar Resort</title>
</head>

<body>
  <!-- Navbar -->
  <nav>
    <a href="http://127.0.0.1:8000/posts/index" class="logo">
    <h1>
    <span class="da">Estrela do mar </span><span class="live">Resort</span>
    </h1>
    <img  class="sol" src="{% static 'img/icon trabalho joao.png' %}" alt="por do sol">
    </a>

    <div class="hamburger" id="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
     </div>

   <ul>
    <li class="nav-item">
    <a href="http://127.0.0.1:8000/posts/index" class="nav-link" id="nav-link">Sobre</a>
    </li>
    <li class="nav-item">
    <a href="http://127.0.0.1:8000/posts/index#quarto_suite" class="nav-link" id="nav-link">Quartos</a>
    </li>
    <li class="nav-item">
    <a href="http://127.0.0.1:8000/posts/index#hero" class="nav-link" id="nav-link">Cortesias</a>
    </li>
    <li class="nav-item">
    <a href="http://127.0.0.1:8000/posts/index#pacotes" class="nav-link" id="nav-link">Pacotes</a>
    </li>
   </ul>
   
   
   <!-- Dark/light theme switcher -->
   <div class="theme-switch">
    <input type="checkbox" class="checkbox" id="checkbox" />
    <label for="checkbox" class="label">
    <ion-icon name="partly-sunny-outline" class="sun"></ion-icon>
    <ion-icon name="moon-outline" class="moon"></ion-icon>
    <div class="switcher"></div>
  </label>
    </div>
  </nav>
  <!-- Fim do nav bar -->


<section class="img-fundo">
  <form action="{%url 'login' %}" method="POST">{% csrf_token %}

      <div class="registro">

        <div id="ja-logado">
          <p>Não e logado? <a href="http://127.0.0.1:8000/auth/cadastro/">clique aqui para fazer o Cadastro</a></p>
        </div>

        <h1 id="h1-cadstro">Faça o cadastro agora</h1>

        <div class="cadastro">
          <label for="firstname">Nome completo</label> 
          <input id="username" type="text" placeholder="Primeiro nome" name="username" required >
        </div>

        <div class="cadastro">
          <label for="password">Senha</label> 
          <input id="password" type="password" placeholder="Senha" name="senha" required>
        </div>

        <div class="checkbox-cadastro">
          <input type="submit" value="Logar" id="bnt-cadastro"
          class="submit-btn" />
        </div>
        <br><br>
        <h2>login ou senha incorretos.</h2>
    </div>
  </form>
</section>


  
  <!-- Email subscription -->
  <section class="subscribe" id="subscribe">
    <h3>Faça já sua reserva</h3>
    <form action="#">
    <input type="email" name="email" id="email-sub" class="email-sub"
   required />
    <input type="submit" value="Submit" id="submit-btn"
   class="submit-btn" />
    </form>
    </section>
    
    <!-- Social icons -->
    <section class="social">
      <h3>Conecte-se conosco</h3>
    <div class="socicons">
    <a href="#"> <ion-icon name="logo-twitter"></ion-icon> </a>
    <a href="https://www.instagram.com/joaod_tx/"> <ion-icon name="logo-instagram"></ion-icon> </a>
    <a href="#"> <ion-icon name="logo-facebook"></ion-icon> </a>
  </div>
    </section>
    <footer>&copy;2023. All Rights Reserverd</footer>



  <!-- Ion icons CDN -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  
  <!-- Simple lightbox -->
  <script src="{% static 'js/simple-lightbox.min.js' %}"></script>
  <script src="{% static 'js/popup.js' %}"></script>
  <script>
      // Simple lightbox initializer
  </script>
</body>
</html>